<div>
  <form [formGroup]='booksForm' class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput formControlName="title" placeholder="Tytuł książki">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput formControlName="author" placeholder="Autor książki">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput formControlName="isbn" placeholder="ISBN">
    </mat-form-field>
  </form>
</div>
